@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*
Abrebiaturas de 'variables' que utilizo mucho en el CSS
*/
:root{
    --color-primario: #021526;
    --color-secundario: white;
    --color-terciario: #6EACDA;
    --color-hover:  #272727;
    --color-color-bck: #000000;

    --fuente-monserrat: "Montserrat", sans-serif;
    --fuente-krona: "Krona One", sans-serif;
}

* {
    padding: 0;
    margin: 0;

}

body {
    background-color: var(--color-primario);
    color: var(--color-secundario);
    box-sizing: border-box;
}

.header{
    padding: 2% 0% 0% 15%;
}

.header__menu{
    display: flex;
    gap: 80px;
}

.header__menu__link {
    font-family: var(--fuente-monserrat);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-terciario);
    text-decoration: none;
}

img {
    border-radius: 270px;
}

.presentacion {
    display: flex;
    align-items: center;
    padding: 8% 15%;
    justify-content: space-between;
    gap: 82px;
}

.presentacion__contenido {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.texto__nombre {
    font-size: 2.2rem;
    font-family: var(--fuente-krona);
    color: var(--color-terciario);
}

.titulo-nombre {
    color: var(--color-terciario);
}

.parrafo-historia {
    font-size: 1.5rem;
    font-family: var(--fuente-monserrat);
}

.presentacion__botones {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.presentacion_enlaces_subtitulos {
    font-family: var(--fuente-krona);
    font-size: 1.5rem;
    font-weight: 400;
}

.presentacion_enlaces__link {
    width: 70%;
    text-align: center;
    padding: 21.5px 0;
    border-radius: 8px;
    font-family: var(--fuente-monserrat);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: rgb(243, 23, 23);
    border: 2px solid var(--color-terciario);
    display: flex;
    justify-content: center;
    gap: 20px;
}

.presentacion_enlaces__link:hover{
    background-color:var(--color-hover);
}

.presentacion__imagen{
    width: 50%;
}

.footer{
    color: var(--color-color-bck);
    background-color: var(--color-terciario);
    padding: 1.5rem;
    text-align: center;
    font-family: var(--fuente-monserrat);
    font-size: 1.5rem;
    font-weight: 450;
}

@media (max-width: 1200px){

    .header{
        padding: 10%;
    }

    .header__menu{
        justify-content: center;
    }

    .presentacion{
        flex-direction: column-reverse;
        padding: 20%;
    }

    .presentacion__contenido{
        width: auto;
    }
}